body{
    background-image: url(assets/caravancity-01562-edited2.jpg);
}

.text-page-4 {
    font-size: 1.25rem;
    margin: 0 auto;
    text-transform: uppercase;
    width: 80%;
    color:black ;
    text-align: center;
    font-family: TradeGothicLTStd,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    padding: 400px 0;
}

/* Page 3 - Grotius */
   @media (max-width: 576px) {
       .slider-img {
           width: 100vw;
           height: 50vh;
           object-fit: cover;
       }
   }
   @media (min-width: 577px) {
       .slider-img {
           width: 100vw;
           height: 80vh;
           object-fit: cover;
       }
   }
   @media (min-width: 992px) {
       .slider-img {
           width: 100vw;
           height: 80vh;
           object-fit: cover;
       }
   }
   @media (min-width: 1200px) {
       .slider-img {
           width: 100vw;
           height: 80vh;
           object-fit: cover;
       }
   }
   @media (min-width: 1400px) {
       .slider-img {
           width: 100vw;
           height: 80vh;
           object-fit: cover;
       }
   }
   #page-3 {
       width: 100vw;
       height: 100vh;
   }

/* Page 5 - Rizky Fazal */

.container {
    padding: 100px;
}

.col-md-4 h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    border-top: black 5px solid;
    border-bottom: black 5px solid;
    margin-right: 80px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.col iframe {
    margin-top: -20px;
}
